@charset "UTF-8";
/*=========================main 开始==================*/

/*=========================banner 开始==================*/
.banner img{
    width: 100%;
    height: 400px;
}
.banner div{
    position: relative;
}
.banner ul{
    position: absolute;
    bottom: 10px;
    left: calc(50% - 80px);

}
.banner li {
    float: left;
    margin-right: 10px;
}
.banner li a{
    display: block;
    width: 30px;
    height: 5px;
    background: #999999;
}
.banner a:hover{
    background: #fa9634;
}
.flex-active{
    background-color: black;
}
/*=========================banner 结束==================*/

/*=========================enroll 开始==================*/
.guide{
    padding-top: 36px;
}
.guide li{
    width: 250px;
    height: 73px;
    border-bottom: 1px solid #fff;
}
.guide li i{

}
.guide li p:first-of-type{
    font-size: 16px;

}
.guide li p:nth-of-type(2n){
    font-size: 12px;
    color: #888;
}
/*=========================enroll 开始==================*/

/*=========================课程设置 开始==================*/
/*=========================课程设置 结束==================*/

/*=========================校园风采 开始==================*/
/*=========================校园风采 结束==================*/

/*=========================明星学子 开始==================*/
/*=========================明星学子 结束==================*/

/*=========================学员作品 开始==================*/
/*=========================学员作品 结束==================*/

/*=========================就业单位 开始==================*/
/*=========================就业单位 结束==================*/
/*=========================main 开始==================*/