@charset "UTF-8";
.width{
    width: 1000px;
    margin: 0 auto;
}
/*=========================头部 开始=======================*/
.header{
    background: #333333;
}
/*=========================导航 开始=======================*/
.header img{
    margin:10px 0;
}
/*=========================导航 结束=======================*/
.header li a{
    display: block;
    line-height: 80px;
    font-size: 14px;
    padding: 0 18px;
    color: #fff;
}
.header li a:hover{
    background: #5c5c5c;
}
/*=========================头部 结束=======================*/

/*=========================尾部 开始=======================*/
/*=========================尾部 结束=======================*/